/*SPDX-License-Identifier: AGPL-3.0*/
@media (prefers-color-scheme: dark){
	body {color:#EEEEEE;background:#1C1B22}
}
@media (prefers-color-scheme: light){
	body {color:#5B4636;background:#F4ECD8}
}
@media print{
	body{
		max-width:none
	}
}
body{
	margin: 1em auto;
	padding: 0 .63em;
	max-width: 40em;
	
	font:1.2em/1.62 sans-serif;
	font-size: 16px;
	line-height: 1.6;	
}
h1,h2,h3{
	line-height: 1.2;
}

